<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
   <section>
	<%= render 'shared/gravatars' %>
   </section>
   <section>
	<%= render 'shared/stats' %>
   </section>
 </aside>

 <div class="span8">
    <%= render 'follow_form' if signed_in? %>
  </div>
</div>
<div>
	<%= render 'shared/user_forms' %>
</div>