<footer class="panel-footer">
  <small>
    <a href="http://cs.wisc.edu">UW - Madison Computer Science</a>
    Caleb Durante, Bob O'Brien, Andrew Pierce
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>